<div id="login-form">
  <form method="POST" action="/">
    <input type="text" name="name" placeholder="enter mobile or email" />
    <p class="error name-error">Error message here</p>
    <input type="password" name="password" placeholder="enter password" />
    <p class="error password-error">Error message here</p>
    <p class="error common-error">Error message here</p>
    <input class="submit-button" type="submit" value="Login" />
    <div class="loader hide">Loading...</div>
  </form>
</div>