<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sumit Saha" />
    <meta name="owner" content="learnwithsumit.com" />
    <title><%= title %> </title>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dwcs4exdt/image/upload/v1625944945/app/asset/logo_mdxvkw.png" />
    <link rel="stylesheet" href="/stylesheets/toastify.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/js/toastify.js"></script>
  </head>
  <body>
    <div class="menu">
      <div class="menu-item"><a href="/categories">Categories</a></div>
      <div class="menu-item"><a href="/quizzes">Quizzes</a></div>
      <div class="menu-item"><a href="/users">Users</a></div>
      <% if(loggedInUser.name){%>
        <div class="menu-item"><a href="/" onclick="signout()">Logout</a></div>
      <%}else{%>
        <div class="menu-item"><a href="/">Login</a></div>
      <%} %> 
    </div>