<%- include('./partials/header.ejs') %> 

    <div class="manageUser-container">
      <div id="title">
        <h2>This page is restricted</h2>
      </div>
    </div>

    <%-include('./partials/category-modal.ejs')%>
    <%- include('./partials/footer.ejs') %> 
